body {
  background: #336799;
  color: #fff;
}

.Home_left_side {
  height: 100vh;
}

.Home_logo {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_options {
  height: 70%;
  justify-content: center;
  align-items: center;
}

.Home_options button:last-child {
  margin-top: 20px;
}

.Home_right_side {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Home_right_side .media {
  margin-top: 30px;
}

.Home_right_side .media i {
  margin-right: 10px;
}